body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/097/947/original/snowing-3079_%281%29.gif?1695410889");
  background-size: cover;
  max-height: 300px;
  margin: 0 auto;
}
.container {
  margin: 0 auto;
  background-size: 100%;
  display: block;
  max-width: 700px;
  color: rgba(14, 9, 9, 0.978);
  background: rgba(129, 60, 60, 0.4);
  border-radius: 5px;
  font-family: "Lobster Two", cursive;
}
#current-button {
  padding: 5px;
  border: 2px solid black;
  border-radius: 10px;
  position: absolute;
  margin: 0 400px;
  transition: all 200ms ease-in-out;
  background-color: #f1a8a8;
  color: black;
  top: 100px;
}

#current-button:hover {
  cursor: pointer;
  color: #457a8f;
  background-color: black;
}

.search {
  border: 2px solid black;
  border-radius: 10px;
  background: #f1a8a8;
  font-size: 17px;
  margin-left: 10px;
}
.search:hover {
  color: #457a8f;
  background-color: black;
}
.row {
  margin: 35px 0;
}
.header {
  text-align: center;
  font-size: 30px;
}
h3 {
  font-weight: 900;
  font-family: "Neonderthaw", cursive;
  font-size: 40px;
}
a {
  text-decoration: none;
  font-size: 20px;
  color: black;
}
a:hover {
  text-decoration: wavy;
  color: #457a8f;
}
.thing {
  color: black;
}
#future {
  padding: 5px 30px;
  font-size: 16px;
  transition: all 200ms ease-in-out;
  border-radius: 20%;
  text-align: center;
  opacity: 0.8;
}
#future:hover {
  cursor: pointer;
}
#icon {
  display: block;
  margin: 0 auto;
  width: 60px;
}
.forecast-temp-max {
  font-weight: 100;
  font-family: "Creepster";
}
@media (max-width: 600px) {
  body {
    max-width: 100% !important;
    height: 100% !important;
  }
  h3 {
    font-size: 35px;
  }
  #current-button {
    margin: 0 310px;
  }
  #something {
    margin: 0 60px;
  }
}
