body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/097/947/original/snowing-3079_%281%29.gif?1695410889");
  background-size: cover;
  max-height: 300px;
  margin: 0 auto;
}
.container {
  margin: 0 auto;
  background-size: 100%;
  display: block;
  max-width: 700px;
  color: rgba(14, 9, 9, 0.978);
  background: rgba(129, 60, 60, 0.4);
  border-radius: 5px;
  font-family: "Lobster Two", cursive;
}
#current-button {
  padding: 5px;
  border: 2px solid black;
  border-radius: 10px;
  position: absolute;
  margin: 0 400px;
  transition: all 200ms ease-in-out;
  background-color: #f1a8a8;
  color: black;
  top: 100px;
}

#current-button:hover {
  cursor: pointer;
  color: #457a8f;
  background-color: black;
}

.search {
  border: 2px solid black;
  border-radius: 10px;
  background: #f1a8a8;
  font-size: 17px;
  margin-left: 10px;
}
.search:hover {
  color: #457a8f;
  background-color: black;
}
.row {
  margin: 35px 0;
}
.header {
  text-align: center;
  font-size: 30px;
}
h3 {
  font-weight: 900;
  font-family: "Neonderthaw", cursive;
  font-size: 40px;
}
a {
  text-decoration: none;
  font-size: 20px;
  color: black;
}
a:hover {
  text-decoration: wavy;
  color: #457a8f;
}
.thing {
  color: black;
}
#future {
  margin: 20px;
  padding: 20px 40px;
  font-size: 16px;
  text-align: center;
  border-radius: 16px;
}
#icon {
  display: block;
  margin: 0 auto;
  width: 60px;
}
